<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        
        <div class="container">
            <div class="row">
                <h1>Connected as <%= name %></h1>
                <div class="col-md-6 offset-md-3 col-sm-12">
                    <h1 class="text-center">
                        MongoChat 
                       
                    </h1>
                    <div id="status"></div>
                    <div id="chat">
                        <button id="clear" class="btn btn-danger">Delete Chat</button>
                        <br>
                        <div class="card">
                            <div id="messages" class="card-block">
    
                            </div>
                        </div>
                        <br>
                        <textarea  id="textarea" class="form-control" placeholder="Enter message..."></textarea>
                        <button id="send" class="btn btn-danger">Send</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

        <script>
           (function(){
            var element = function(id){
                return document.getElementById(id);
            }

            // Get Elements
            var status = element('status');
            var messages = element('messages');
            var textarea = element('textarea');
            var username = element('username');
            var clearBtn = element('clear');
            var sendBtn = element('send');
            // Set default status
            var statusDefault = status.textContent;

            var setStatus = function(s){
                status.textContent = s;
                if(s !== statusDefault){
                    var delay = setTimeout(function(){
                        setStatus(statusDefault);
                    }, 4000);
                }
            }
            if(socket === undefined){
                var socket = io.connect('http://127.0.0.1:4000');

            }
           
            if(socket !== undefined){
                console.log('Connected to socket...');
                socket.on('connect', (host, port) => { 
                    console.log(`client connected to ${host}:${port}`); 
                    socket.emit('authentication', {username: "<%= username%>", password: "<%= password%>"});
                    socket.on('unauthorized', function(err){
                        if(err){
                            console.log("There was an error with the authentication:", err.message);
                        }
                    });
                  
                }); 

                socket.on('previousChat',function(data){
                    console.log(data);
                    if(data.length>0){
                        for(let i=0;i<data.length;i++){
                             var message = document.createElement('div');
                            message.setAttribute('class', 'chat-message');
                            message.textContent = data[i].sender+": "+data[i].message;
                            messages.appendChild(message);
                            messages.insertBefore(message, messages.lastChild);
                        }
                    }
                });
                
                socket.on('output', function(data){
                    if(data.length>0){
                       
                            var message = document.createElement('div');
                            message.setAttribute('class', 'chat-message');
                            message.textContent = data[0].sender+": "+data[0].message;
                            messages.appendChild(message);
                            messages.insertBefore(message, messages.lastChild);
                    }
                });

                socket.on('status', function(data){
                    setStatus((typeof data === 'object')? data.message : data);
                    if(data.clear){
                        textarea.value = '';
                    }
                });

                textarea.addEventListener('keydown', function(event){
                    if(event.which === 13){
                        socket.emit('input', {
                            name:"<%= _id %>",
                            message:textarea.value
                        }); 
                    }
                });

                $(document).ready(function() {
                    socket.emit('previousChat');
                });



                $("#send").unbind()
                .on('click',function(e){
                    e.preventDefault();
                    socket.emit('input', {
                            name:"<%= _id %>",
                            message:textarea.value
                        });
                   e.preventDefault();
                });

                clearBtn.addEventListener('click', function(){
                    socket.emit('clear');
                });

                socket.on('clear', function(){
                    messages.textContent = '';
                });
            
            }

        })();
    </script>
    </body>
</html>